body{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/medieval-town-scene-in-cartoon-style-free-vector.jpg)
        
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    border: 2px solid aliceblue; 
    background-color: #f8f9fa;
    color: #000000; 
    padding: 20px; 
    margin: 15px;
    border-radius: 8px;

}
row {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid aliceblue; 
    background-color: #f8f9fa;
    color: #000000; 
}
